
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
    font-weight: bolder;
    
}

button {
    font-weight: bold;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-collapse: collapse;

}
tr:nth-child(even) {
    background-color: #dddddd;
}